<div class="container sm:container md:container lg:container mx-auto p-6">
  <div class="bg-white p-6 rounded shadow">
    <a
      href="/respuestas"
      class="inline-flex items-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
    >
      Respuestas
    </a>
    <a
      href="/preguntas"
      class="inline-flex items-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
    >Preguntas</a>
    <div class="mt-5">
      Visitar la siguiente ruta:
      <a href="http://localhost:4000/respuestas/seed"  class="inline-flex items-center rounded-md border border-transparent bg-red-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Seed</a>
    </div>
  </div>

</div>