<nav class="navbar">
    <div class="navbar-fluid">
        <div class="brand">
            <div>
                <a href="#">Title</a>
            </div>
        </div>
        <div class="menu">
            <div class="menu-form">
                <form action="#">
                    <div class="search">
                        <button>
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                        <input type="text">
                    </div>
                </form>
            </div>
            <div class="">
                
            </div>
        </div>
    </div>
</nav>